<app-header titulo="Grid"></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]" >
       <ion-card>
         <ion-img src="/asstets/shapes.svg"></ion-img>
         <ion-card-header>
           <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
           <ion-card-title>Card Title</ion-card-title>
           <ion-card-content>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, labore porro vel cupiditate animi atque voluptatibus? Eveniet itaque, a assumenda, similique corporis laborum eligendi possimus vel qui, aperiam odio cumque.
           </ion-card-content>
         </ion-card-header>
       </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>